/*CSS for mohannad portfolio project*/


body {
    background-color: #535d6d1c;
    font-size: 12pt;
}

  h1{
     text-shadow: 0 0 0.75px lightblue;
    text-align: center;
    color: #5A4B35
    font-size:8vw;
    color: #5A4B35;
    margin: 0 auto;
    padding: 0;
    text-align: center;

  }


h2 {
    text-align: center;
    padding-right;
    font-size:4vw 
}

h3 {
  text-align: center;
  font-family: serif;
  color: #5A4B35;
  font-size:2vw
}

h4 {
  font-size: 0.5vw;
}




p{
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    text-shadow: 0.3px 0.3px #5A4B35;

}


#nav {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1.5em;


}
#nav li {
  display: inline-block;
  padding: 0.5em;
}
#nav a {
  color: #5A4B35;
  text-decoration: none;
  padding: 0.1em;

}
#nav a:hover {
  height: .25rem;
  width: 25%;
  margin: 0;
  transition: .3s ;
  border-bottom-style: double;

 }
a.active{
  
      padding: none;
      border-bottom-style: double;
}




.wrapper {
    padding: 0.01em 0;
    border-bottom-style: solid;
    border-bottom-color: #5a4b35;

}

#canvas{
      margin: 80px;
      border-width: 5px;
      border-style: solid;
    border-color: #ddd;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 100px 0;

}

body #canvas{
    background-color: #fff;

}

 #header {
  		/*background-image:url(heder.gif);*/
      background-color: #B9C9A3;
  		}
 #content {
 			  float: left;
  			background-color: #efefef;
  			padding:1em;
  		}



#footer a
{
  color: #fff;
}

#footer {
  background-color: #5A4B35;
  padding: 0.01em 0;
  color: #fff;
  clear: both;
  display: flex;
  position: center;
}

 
a{
	color: #772c2c;
}

#text{
  width: 0px;
  display: none;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;


}

#translation {
  float: left;
  font-size: 2.0vw;
  position: top-left;
}

#language {

    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
#ResumeHeader{
    text-align: center;
    color: #5A4B35
    font-size: 7vw;
    color: #5A4B35;
    padding: 5px;
    text-align: center;

  }

#secondary {
    border-left: 1px solid #e1e1e1;
    float: right;
    padding-left: 40px;
    width: calc(33.333% - 80px);
    word-wrap: break-word;
}

